<form action="/users/getsingle1" method="post" style="width: 70%; margin-top: 50px;">
    <button type="submit" style="float: right;" class="btn btn-default">Search</button>
    <input type="text" class="form-control" id="pcaseno" name="pcaseno" placeholder="Search by case id" style="width: 40%;float:right">
  </form>