<form action="/users/getsingle" method="post" style="width: 70%; margin-top: 50px;">
    <button type="submit" style="float: right;" class="btn btn-default">Search</button>
    <input type="text" class="form-control" id="pcrimecommitted" name="pcrimecommitted" placeholder="Search by crime committed" style="width: 40%;float:right">
  </form>